.text-block {
  padding: 20px;
  margin: 20px;
  color: #fff;
  /* border: 1px solid #880b0b39; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Boîte d'ombre */
  background: rgba(0, 0, 0, 0.203);
  border-radius: 10px; /* Contours arrondis */
  width: 40%;
  position: absolute;
  top: 30%;
  left: 5%;
  opacity: 0; /* Le texte est initialement invisible */
  animation: fade-in 15s ease-in forwards; /* Animation de fondu */
}

.text-block h2 {
  margin-bottom: 5%; /* Espacement en bas du titre (2% de la largeur du parent) */
  color: var(--firepink);
  opacity: 0.6;
}

.text-block p {
  margin-top: 1em;
  font-size: 0.75rem;
}

@keyframes fade-in {
  from {
    opacity: 0; /* Opacité initiale */
  }
  to {
    opacity: 1; /* Opacité finale */
  }
}

@media screen and (max-width: 768px) {
  .text-block {
    text-align: center;
  }

  /* Styles responsifs pour les écrans de petite taille */
  .text-block h2 {
    margin-bottom: 15px; /* Espacement en bas du titre (10px) */
    display: none;
  }

  .text-block p {
    margin-top: 0.7rem; /* Espacement en haut du paragraphe (10px) */
    display: none;
  }
}
