.bird-gif {
    width: 100px;
    height: auto;
    transform: scaleX(-1);
    filter:sepia(100%) hue-rotate(-70deg);
    margin-top: 2rem;
  }
  
  @media (max-width: 768px) {
    .bird-gif {
      width: 200px;
      height: auto;
    }
  }